version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: beast_heart_db
    environment:
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "password123!"
      POSTGRES_DB: "beast_heart"
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
